:root{
    --bg:rgb(255, 255, 255);
    --formButtonSize:100px;
    --postBackground:rgb(255, 255, 255);
    --postPicSize:110px;
    --postSize:700px;
    --postMenuWidth:230px;
}
a{color:rgb(0, 0, 0); text-decoration: none;}
.adlibPost{border: 1px solid gray;border-radius: 10px; box-shadow: 0px 0px 5px rgb(230, 230, 230);margin:10px 20px;padding:10px;}
.adlibPostAuthors{color:rgb(148, 148, 148);margin:0;}
.adlibPostTitle{margin:0;font-size:28px;}
.allResults{display: flex;flex-wrap: wrap; padding:10px;}
body{background-color: var(--bg);color:rgb(0, 0, 0); font-family: 'Nunito Sans', sans-serif;margin:0;}
button:hover{cursor: pointer;}
.createContainer{align-items: center; display: flex;flex-direction: column; justify-content: center;}
.danger{color: rgb(255, 90, 90);}
.formButton{
    background-color:rgb(67, 67, 255);
    border: none; 
    border-radius: 50%; 
    color:white; 
    font-family: 'Nunito Sans', sans-serif;
    height:var(--formButtonSize);
    width:var(--formButtonSize);}
.formButton:hover{cursor: pointer;}
.formContainer{align-items: center; display: flex;flex-direction: column;}
.formInput{background-color: var(--bg);border: none; color:rgb(160, 160, 160); height:30px;}
.formInput:focus{outline: none;}
.formInput,.formSubtitle{font-size:22px;}
.formInsideContainer{display: flex;flex-direction: column;}
.formSubtitle{margin:0px 0px 10px 0px;}
.formTextArea{font-family: 'Nunito Sans', sans-serif;}
.formTitle{border:1px solid rgb(179, 179, 179); font-size: 20px;text-align: center;padding:10px;}
.gameMessage{border: 1px solid rgb(185, 185, 185);border-radius: 30px; height:30px;width:40vw;}
.gameMessageSubmit{background-color: aquamarine; border: none; border-radius: 50%;height:40px;width:40px;}
.gameMessageSubmit:hover{cursor: pointer;}
.hr{border-bottom: 1px solid rgb(99, 99, 99);height:1px;margin:30px 0px; width:45vw;}
.info{color: rgb(255, 161, 54);}
.leaveRoomButton,.postAdlibButton{align-items: center; display: flex; border: none;border-radius: 30px;height:30px;margin:5px; padding:20px;}
.likeButton,.adlibLikeButton{height:30px;padding:0px 10px 0px 0px;}
.likeButton:hover{filter: brightness(2);}
.likeContainer{align-items: center; display: flex; padding:10px 0px 10px 10px;}
.link{font-size: 18px; margin:0px 0px 0px 35px;transition: 0.2s;}
.links{align-items: center; display: flex; justify-content: space-between}
.logoContainer{align-items: center; display: flex;flex-direction: column;justify-content: center;}
.logoImage{height: 40px;}
.member{border: 1px solid rgb(218, 218, 218);border-radius: 13px;color:rgb(30, 30, 204); padding:5px 10px;margin:10px;}
.memberContainer{display: flex;}
.menuPic,.menuPicItem{border-radius: 50%; height:30px;object-fit: cover;padding:5px;transition: 0.1s; width:30px;}
.menuPic{display: inline;margin:0px 0px 10px 0px;}
.menuPic:hover{background-color: rgb(90, 90, 90);}
.menuPicItemContainer{align-items: center; display: grid; grid-template-columns: 1fr 3fr; width: var(--postMenuWidth);}
.menuPicItemsContainer{border: 1px solid rgb(168, 168, 168);border-radius: 8px; padding:10px;}
.messagesContainer{height:45vh;overflow-y: scroll;display: flex;justify-content: center;padding:30px 50px;width:70vw;}
.nameInput{border:1px solid rgb(211, 211, 211); border-radius: 20px;font-size: 18px; height:30px;margin:20px 0px; padding:5px; width:300px;}
.nameSubmit{border:none;border-radius: 30px; background-color: rgb(0, 185, 0);color:white;font-size: 18px; padding:15px 30px;}
.nameSubmit:hover{cursor: pointer;}
.nameTitle{font-size:30px;}
nav{border-bottom: 1px solid rgb(231, 231, 231);margin:0px 0px 30px 0px; padding:20px;text-align: center;}
.pages{align-items: center; display: flex;justify-content: center;}
.post{
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px; 
    background-color: var(--postBackground); 
    display: flex;
    flex-direction: column; 
    margin:0px 0px 30px 0px; 
    overflow: hidden;
    position:relative;
    width:var(--postSize);}
.postContainer{display: flex;justify-content: center;}
.postContent{margin:0;}
.postContents{padding:20px 0px 0px 0px;}
.postDeleteButton{background-color: rgb(41, 41, 41);border:none;border-radius: 7px; color:white; font-family: 'Nunito Sans', sans-serif;font-size: 16px; height:30px; width:60px}
.postDeleteButton:hover{cursor: pointer;}
.postFoodPic{height:510px;object-fit: contain; width:var(--postSize);}
.postFoodPicContainer{background-color:rgb(245, 245, 245);}
.postUserPic{border-radius: 6px; height:var(--postPicSize);width:var(--postPicSize);margin:0px 20px 0px 0px;object-fit: cover;}
.postUserPicContainer{display: flex;}
.postUserPicPaddingContainer{padding: 20px;}
.postTime{color:gray;font-size: 14px;}
.postTitle{font-size:30px;margin:0;}
.postUserTime{display: flex;flex-direction: column;}
.profilePic{border-radius: 50%; height:200px;width:200px;margin:0px 20px 0px 0px;object-fit: cover;}
.profileText{font-size: 29px; margin:0;}
.profileText:last-child{font-size: 17px;font-weight: lighter;}
.result{align-items: center; border:1px solid rgb(212, 212, 212);border-radius: 10px;box-shadow: 0px 0px 5px gray; display: flex;flex-direction: column;justify-content: center;margin:10px; padding:5px; width:320px;}
.resultInfo{margin:5px 0px;display: flex;align-items: center;}
.resultInfoPic{height:30px;margin:0px 10px 0px 0px;}
.resultName{border: 1px solid gray;}
.roomButton{background-color: rgb(0, 170, 0);border: none; border-radius: 10px; color:white; padding:10px;}
.roomButton:hover{cursor: pointer;}
.roomContainer{align-items: center; display: flex;flex-direction: column;}
.roomInfo{border: 1px solid rgb(197, 197, 197);border-radius: 10px;display: flex;box-shadow: 0px 0px 5px rgb(190, 190, 190); justify-content: space-between;margin:20px; padding:15px; width:70vw;}
.roomLink{color:rgb(155, 155, 155);font-size: 15px;}
.roomName{font-size: 20px;}
.rooms{align-items: center; display: flex;flex-direction: column;}
.roomSubtitle{color:rgb(153, 153, 153); font-size:22px;}
.roomTexts{display: grid;grid-template-rows: 1fr 1fr;}
.roomTitle,.roomSubtitle{text-align: center;margin:0;}
.searchBar{border-radius:30px;font-size: 20px; height:25px;margin:5px 0px; padding:5px; width:70%;}
.searchContainer{align-items: center; border:1px solid rgb(192, 192, 192);border-radius: 10px;display: flex;flex-direction: column;margin:0px 0px 20px 0px; padding:15px; width:80vw;}
.searchOutsideContainer{display: flex;justify-content: center;}
.searchPic{border-radius: 10px; width:200px;}
.searchTitle{margin:0;}
.success{color:green;}
.totalUsers{color:gray; font-size:13px;}
.totalUsersAnimation{animation: newUser 0.2s;}
.updateDeleteContainer{
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 40px;
    overflow: hidden;
    position:absolute;
    right:10px;
    top:10px;
    width:var(--postMenuWidth)+5px;
}
.userProfile{align-items:center;display: flex;justify-content: center;}
.warning{color: rgb(255, 255, 156);}

@keyframes newUser {
    0%{transform: translateY(-5px);}
    50%{transform: translateY(5px);}
    100%{transform: translateY(0px);}
}
@keyframes newLike {
    0%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    100%{transform: translateX(0px);}
}
@media screen and (max-width:1370px){
    .hr{width:75vw}
}
@media screen and (max-width:725px){
    .links{flex-direction: column;}
    .post{width:95%;}
    .postFoodPic{width: 100%;height:100%;}
}
@media screen and (max-width:510px){
    .formTitle{font-size: 50px;}
    .link{margin:0;}
    .nonLogoLinks{display: flex;flex-direction: column;}
}