{% extends 'layout.html' %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class={{category}}>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="userProfile">
        <img class="profilePic" src="{{ url_for('main.upload', id=image_file.id) }}">
        <div>
            <h1 class="profileText">{{current_user.username}}
            <h1 class="profileText">{{current_user.email}}
        </div>
    </section>
    <!--enctype is to pass image file properly-->
    <section class="formContainer">
        <form class="formInsideContainer" method="POST" action="" enctype="multipart/form-data" novalidate>
            {{form.hidden_tag()}}
            <h1 class="formTitle">Update your Account?</h1>
            <span class="hr"></span>
            {{form.username.label(class_="formSubtitle")}}
            {{form.username(class_="formInput")}}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <span class="hr"></span>
            {{form.email.label(class_="formSubtitle")}}
            {{form.email(class_="formInput")}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <span class="hr"></span>
            {{form.picture.label(class_="formSubtitle")}}
            {{form.picture(class_="formInput")}}
            {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <p class="danger">{{error}}</p>
                    {% endfor %}
                {% endif %}
            <span class="hr"></span>
            {{form.submit(class_="formButton")}}
        </form>
    </section>
{% endblock content %}