{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data" novalidate>
    {{form.hidden_tag()}}
    {{form.title.label}}
    {{form.title}}
    {% if form.title.errors %}
        {% for error in form.title.errors %}
            {{error}}
        {% endfor %}
    {% endif %}
    {{form.content.label}}
    {{form.content}}
    {% if form.content.errors %}
        {% for error in form.content.errors %}
            {{error}}
        {% endfor %}
    {% endif %}
    {{form.submit}}
</form>
{% endblock content %}