{% extends 'layout.html' %}
{% block content %}
    <section class="formContainer">
        <h1 class="formTitle">Reset Your Password</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class={{category}}>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="formInsideContainer" method="POST" action="" novalidate>
            <span class="hr"></span>
            {{form.hidden_tag()}}
            {{form.email.label(class_="formSubtitle")}}
            {{form.email(class_="formInput")}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="danger">{{error}}</p>
                    {% endfor %}
                {% endif %}
            <span class="hr"></span>
            {{form.submit(class_="formButton")}}
        </form>
    </section>
{% endblock content %}