{% extends 'layout.html' %}
{% block content %}
    {{user.username}}: {{posts.total}} posts total
    {% for post in posts %}
        <a href="{{url_for('users.post',post_id=post.id)}}"><h3 class="postTitle">{{post.title}}</h3></a>
        <p>{{post.content}}</p>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=1) %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a href="{{url_for('users.user_posts',page=page_num,username=user.username)}}" style="font-size:40px;">{{page_num}}</a>
        {% else %}
            <a href="{{url_for('users.user_posts',page=page_num,username=user.username)}}">{{page_num}}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock content %}