{% extends 'layout.html' %}
{% block content %}
{% for post in adlib_posts %}
    <section class="adlibPost">
        <h1 class="adlibPostTitle">{{post.title}}</h1>
        <p class="adlibPostAuthors">by 
            {% for author in post.authors %}
                {% for a in auths %}
                    {% if a.id == author|int %}
                        {{a.username}}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
        <p>{{post.content}}</p>
        <div class="likeContainer">
            <input class="adlibLikeButton" id={{post.id}} src="{{url_for('static', filename = 'post_pics/heart.png')}}"  type="image"/>
            <span class="adlibTotalLikes">{{post.adlibLiker|length}} Likes</span>
        </div>   
    </section>
{% endfor %}
{% endblock content %}