{% extends 'layout.html' %}
{% block content %}
<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class={{category}}>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="POST" novalidate class="createContainer">
        {{form.hidden_tag()}}
        <span class="nameTitle">{{form.name.label}}</span>
        <span>{{form.name(class_="nameInput")}}</span>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span>{{form.submit(class_="nameSubmit")}}</span>
    </form>
</section>
{% endblock content %}