{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class={{category}}>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<p class="flashMessage danger"> </p>
<div>
    <!--room info-->
    <span class="roomLink">{{link}}</span>
    {% for member in members %}
        <div class="memberContainer">
            {% if member.member.uploads %}
                {% for uploads in member.member.uploads %}
                    <img class="postUserPic" src="{{ url_for('main.upload', id=uploads.id) }}" alt="">
                {% endfor %}
            {% endif %}
            {{member.member.username}}
        </div>
    {% endfor %}
    {% for member in range(members|length) %}
        <span class="memberIds">{{members[member].member_id}}</span>
    {% endfor %}
    <h1 class="roomTitle">{{room_info.name}}</h1>
</div>
<!--all current adlibs-->
<div class="messagesContainer">
    {% for message in messages %}
        {% if message.room_id == link %}{{message.member_message}} {% endif %}
    {% endfor %}
</div>
    {{messageForm.message.label}}
    {{messageForm.message(class_="gameMessage")}}
    {% if messageForm.message.errors %}
        {% for error in messageForm.message.errors %}
        <p class="danger">{{error}}</p>
        {% endfor %}
    {% endif %}
    {{messageForm.submit(class_="gameMessageSubmit")}}
<hr>
<!--finish and post adlib -->
<button onclick="postAdlib()">Post Adlib</button>
{% endblock content %}