{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class={{category}}>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<p class="flashMessage danger"> </p>
<h1>{{room_info.name}}</h1>
<div>
    <span class="roomLink">{{link}}</span>
    {% for member in members %}
        {{member.member.username}}
        {% if member.member.uploads %}
            {% for uploads in member.member.uploads %}
                <img class="postUserPic" src="{{ url_for('main.upload', id=uploads.id) }}" alt="">
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div class="messagesContainer">
    {% for message in messages %}
        {% if message.room_id == link %}
            <span>{{message.member_message}} </span>
        {% endif %}
    {% endfor %}
</div>
    {{messageForm.message.label}}
    {{messageForm.message(class_="gameMessage")}}
    {% if messageForm.message.errors %}
        {% for error in messageForm.message.errors %}
        <p class="danger">{{error}}</p>
        {% endfor %}
    {% endif %}
    {{messageForm.submit(class_="gameMessageSubmit")}}
{% endblock content %}