{% extends 'layout.html' %}
{% block content %}
<section class="aboutContainer">
    <div class="aboutTexts">
        <h1 class="aboutTitle">Food Inqui: How it All Started</h1>
        <p>"What if there was a website like Yelp, except it also has ratings for food items too?" That's how this website came to be.</p>
        <p>Food Inqui aims to be useful when people go out to eat again! Be knowledged about what you'll eat instead of blindly ordering.</p>
        <ul>
            <li>Compare food prices</li>
            <li>See what's good before you eat it</li>
            <li>Get likes on your food posts</li>
            <li>Find the closest, tastiest foods near you</li>
        </ul>
    </div>
    <div class="">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.523/build/spline-viewer.js"></script>
        <spline-viewer url="https://prod.spline.design/ikXul5mRwJKN4YW1/scene.splinecode" style="width:300px;height:300px;border-radius:15px;overflow:hidden"></spline-viewer>
    </div>
</section>
{% endblock content %}