{% extends 'layout.html' %}
{% block content %}
<section class="formContainer">
    <form class="formInsideContainer" method="POST" action="" enctype="multipart/form-data" novalidate>
        {{form.hidden_tag()}}
        <h1 class="formTitle">Create your Post</h1>
        <span class="hr"></span>
        {{form.name.label(class_="formSubtitle")}}
        {{form.name(class_="formInput")}}
        <div class="formResults" id="name_results"></div>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.address.label(class_="formSubtitle")}}
        {{form.address(class_="formInput")}}
        {% if form.address.errors %}
            {% for error in form.address.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.category.label(class_="formSubtitle")}}
        {{form.category(class_="formInput")}}
        {% if form.category.errors %}
            {% for error in form.category.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.price.label(class_="formSubtitle")}}
        {{form.price(class_="formInput")}}
        {% if form.price.errors %}
            {% for error in form.price.errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.title.label(class_="formSubtitle")}}
        {{form.title(class_="formInput")}}
        {% if form.title.errors %}
            {% for error in form.title.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.content.label(class_="formSubtitle")}}
        {{form.content(class_="formInput formTextArea")}}
        {% if form.content.errors %}
            {% for error in form.content.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.rating.label(class_="formSubtitle")}}
        {{form.rating(class_="formInput")}}
        {% if form.rating.errors %}
            {% for error in form.rating.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.picture.label(class_="formSubtitle",name="postPicture")}}
        {{form.picture(class_="formInput")}}
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
            <p class="danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <span class="hr"></span>
        {{form.submit(class_="formButton")}}
    </form>
</section>
{% endblock content %}