{% extends 'layout.html'%}
{% block content %}
    <section class="formContainer">
        <h1 class="formTitle">Register a New Account</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class={{category}}>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="formInsideContainer" method="POST" action="" novalidate>
            {{form.hidden_tag()}}
            <span class="hr"></span>
            {{form.username.label(class_='formSubtitle')}}
            {{form.username(class_='formInput')}}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <span class="hr"></span>
            {{form.email.label(class_='formSubtitle')}}
            {{form.email(class_='formInput')}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="danger">{{error}}</p> 
                    {% endfor %}
                {% endif %}
            <span class="hr"></span>
            {{form.password.label(class_='formSubtitle')}}
            {{form.password(class_='formInput')}}
                {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class="danger">{{error}}</p>
                        {% endfor %}
                    {% endif %}
            <span class="hr"></span>
            {{form.confirm_password.label(class_='formSubtitle')}}
            {{form.confirm_password(class_='formInput')}}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <p class="danger">{{error}}</p>
                    {% endfor %}
                {% endif %}
            <span class="hr"></span>
            {{form.submit(class_='formButton')}}
        </form>
    </section>

    <!-- {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted ">
                {{field}}
                {{ ', '.join(errors) }}
                <br>
            </small>
            {% endfor %} -->
{% endblock content %}